<div class="bg-background rounded-lg border p-6 w-full max-w-md flex flex-col gap-4">
	<div class="flex flex-row items-center justify-between">
		<h2 class="text-2xl font-bold">{{todoList.title}}</h2>
		<div class="bg-muted rounded-full w-8 h-8 flex items-center justify-center">

		</div>
	</div>
	<div class="flex gap-2">
		<input autocomplete="off" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1" placeholder="Add a new todo..." type="text" id="name" #name [(ngModel)]="itemName" />
		<button
			(click)="addItem()"
			class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">Add</button>
	</div>
	<ul class="flex flex-col gap-2">
		<li *ngFor="let item of todoItems$ | async" class="flex items-center gap-4 bg-muted p-2 rounded-md">
			<input type="checkbox" name="" id="" [checked]="item.done" (change)="toggleItem(item.id)">
			<label htmlFor="todo-1" class="flex-1 text-sm font-medium">
				{{item.title}}
			</label>
			<button (click)="removeItem(item.id)"
				class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
				Remove
			</button>
		</li>
	</ul>
</div>